.logo{
	color: #bf9c47 !important; 
	font-size: 2.3em; 
	font-family: 'Ubuntu', sans-serif;
}

.header{
	width: 100%;
	height: auto;
	margin: 0;
}

body{
	margin-top:80px;
}

p{
	width: 50%;
	display: block;
	margin:auto;
}

.box1{
	border: 1px solid grey;
	box-shadow: 10px 10px 5px #888888;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Dancing Script', cursive;
}

h2{
	margin-top: 40px;
	font-family: 'Anton', sans-serif;
}

h3{
	font-family: 'Ubuntu', sans-serif;
}

.maintext{
	font-family: 'Quicksand', sans-serif;
	padding-top: 10px;
}

.food{
	width: 100%;
	margin: 0;
	border-radius: 60%;
}

.bottom{
	margin-top: 30px;
	margin-bottom: 20px;
	width: 100%;
}

ul{
	text-align: center;
}

iframe{
	width: 100%;
}

.socialmedia {
	width: 40px;
	height: auto;
}

footer {
	text-align: center;
	background-color:  #00204f; 
}

footer p {
	color: white;
}

.chengjiu {
	list-style: none;
}

.chengjiu li{
	font-family: 'Quicksand', sans-serif;
	font-style: italic;
}